*, *::before, *after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@media (max-width: 1200px){
	.container{
		max-width: 1040px;	
	}
}
@media (max-width: 1080px){
	.container{
		max-width: 920px;
	}
}
@media (max-width: 940px){
	.container{
		max-width: 820px;
	}
}
@media (max-width: 840px){
	.container{
		max-width: 720px;
	}
}