*,*::before, *::after{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
body{
	position: relative;
}
.container{
	width: 1140px;
	margin: 0 auto;
	position: relative;
}
.navbar > .container{
	display: flex;
	align-items: center;
}
.nav__logo{
	width: 130px;
	margin-top: 30px; 
}
.nav__list{
	display: flex;
	/*align-items: center;*/
	margin-left: 150px;
}
.nav__item{
	margin-top: 35px;
}
.nav__link{
	color: #261B59;
	padding: 20px;
}
.lll{
	border: 1px solid #261B59;
	padding: 10px 20px;
	background-color: #261B59;
	color: white;
	border-radius: 5px;
	margin-left: 30px;
}
.icon{
	position: absolute;
	width: 535px;
	height: 700px;
	right: -4%;
	z-index: -1;
	border-radius: 5px;
	color: red;
}
.icon1{
	position: absolute;
	right: 8%;
	top: -2%;
	width: 250px;
	height: 300px;
	z-index: 2;
	transform: translateY(-35px);
}
.uch{
	position: absolute;
	top: 0%;
	left: -14%;
	width: 350px;
	height: 180px;
	z-index: -1;
}